html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: white;
    position: relative;
}

.ui {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 1em;
    background-color: #fff5;
}

canvas {
    image-rendering: pixelated;
}
